h1
{
        color: green;
        text-align: center;
        text-decoration: underline;
        font-size: 50px;
        border-radius: 10px 50px / 50px;
        box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}


p1

{
     text-decoration: underline;
     color: fuchsia;
     font-size: 20px;
     margin: 25px;
}

p
{
      margin: 25px;
     font-family: Snell Roundhand, cursive;
     font-size: 18px;
     font-style: italic;
     animation-duration: 3s;
     animation-name: slidein;
  		
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  75% {
    font-size: 300%;
    margin-left: 25%;
    width: 150%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

h2
{
       color: #FF00FF;
       font-style: italic;
       font-size: 25px;
       margin: 25px;
}


h3
{
    color: #8A2BE2
    margin: 25px;
   
}

html
 {
  background-color: #567895;
  font-family: monospace;
 

}
body 
{
  width:1100px;
  margin: 0 auto;
  background-color: pink;
  border-radius: 10px;
  font-size: 15px;
  box-shadow: 6px 6px 0px rgba(0, 0, 0);

img {
  display: block;
  margin: 0 auto;
  width : 300px;
  height : 300px;
}
